version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: flask_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: express_frontend
    ports:
      - "3000:3000"
    environment:
      - BACK_URL=http://backend:5000
      # - NODE_ENV=development
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped

networks:
  app-network: {}
    # driver: bridge
